<section data-ng-controller="SpeakersController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Speaker</h1>
	</div>
	<div class="col-md-12">
		<form name="speakerForm" class="form-horizontal" data-ng-submit="update(speakerForm.$valid)" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error' : submitted && eventForm.name.$invalid}">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input name="name" type="text" data-ng-model="speaker.name" id="name" class="form-control" placeholder="Name" required>
					</div>
					<div ng-show="submitted && speakerForm.name.$invalid" class="help-block">
						<p ng-show="speakerForm.name.$error.required" class="text-danger">Name is required</p>
					</div>
				</div>

                <div class="form-group" ng-class="{ 'has-error' : submitted && eventForm.surname.$invalid}">
                    <label class="control-label" for="surname">Surame</label>
                    <div class="controls">
                        <input name="surname" type="text" data-ng-model="speaker.surname" id="surname" class="form-control" placeholder="Surname" required>
                    </div>
                    <div ng-show="submitted && speakerForm.surname.$invalid" class="help-block">
                        <p ng-show="speakerForm.surname.$error.required" class="text-danger">Surname is required</p>
                    </div>
                </div>

				<div class="form-group" ng-class="{ 'has-error' : submitted && speakerForm.bio.$invalid}">
					<label class="control-label" for="bio">Bio</label>
					<div class="controls">
						<textarea name="bio" data-ng-model="speaker.bio" id="bio" class="form-control" cols="30" rows="10" placeholder="Bio cannot be empty" required></textarea>
					</div>
					<div ng-show="submitted && speakerForm.bio.$invalid" class="help-block">
						<p ng-show="speakerForm.bio.$error.required" class="text-danger">Bio cannot be empty</p>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
