<section data-ng-controller="SpeakersController" data-ng-init="findOne()">
	<div class="pull-right clearfix">
		<a class="btn btn-primary" href="/#!/speakers/{{speaker._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<div class="container speaker__header">
		<img class="speaker__photo clearfix" ng-if="!!speaker.thumbnailUrl.base64" data-ng-src="data:image/jpg;base64,{{speaker.thumbnailUrl.base64}}" />
		<div class="speaker__info">
			<h1>{{speaker.name + '&nbsp;' + speaker.surname}}</h1>
	        <div>{{speaker.title}}</div>
	        <div>{{speaker.company}}</div>
	    </div>
	</div>
	<p class="container lead speaker__bio" data-ng-bind="speaker.bio"></p>
</section>
