<div class="container" data-ng-controller="HeaderController">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a data-ng-href="#!/" class="navbar-brand">EVENTA</a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
			<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
				<a ng-switch-when="dropdown" class="dropdown-toggle">
					<span translate="{{item.title}}"></span>
					<b class="caret"></b>
				</a>
				<ul ng-switch-when="dropdown" class="dropdown-menu">
					<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
						<a data-ng-href="#!/{{subitem.link}}" translate="{{subitem.title}}"></a>
					</li>
				</ul>
				<a ng-switch-default data-ng-href="#!/{{item.link}}" translate="{{item.title}}"></a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a data-ng-href="#!/signup" translate="Sign Up"></a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a data-ng-href="#!/signin" translate="Sign In"></a>
			</li>
			<li class="divider-vertical"></li>
			<li ng-if="!window.baseURL">
				<a data-ng-href="https://build.phonegap.com/apps/1201806/share">Mobile app</a>
			</li>
			<li class="divider-vertical"></li>
			<li>
				<select ng-controller="LangController" data-ng-model="lang" ng-change="setLang()" style="margin-top: 13px;margin-left: 10px;">
					<option ng-selected="lang === 'ru'">RU</option>
					<option ng-selected="lang === 'en'">EN</option>
				</select>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a data-ng-href="#!/settings/profile" translate="Edit Profile"></a>
					</li>
					<li>
						<a data-ng-href="#!/settings/accounts" translate="Manage Social Accounts"></a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a data-ng-href="#!/settings/password" translate="Change Password"></a>
					</li>
					<li class="divider"></li>
					<li>
						<a data-ng-href="/auth/signout" translate="Signout"></a>
					</li>
				</ul>
			</li>
			<li ng-if="!window.baseURL">
				<a data-ng-href="https://build.phonegap.com/apps/1201806/share">Mobile app</a>
			</li>
			<li class="dropdown">
				<select ng-controller="LangController" data-ng-model="lang" ng-change="setLang()" class="form-control header__language">
					<option ng-selected="lang === 'ru'">RU</option>
					<option ng-selected="lang === 'en'">EN</option>
				</select>
			</li>
		</ul>
	</nav>
</div>
