<!-- Begin Schedule Section -->
<section id="schedule" class="schedule" ng-controller="HomeController">
    <div class="content-wrapper">

        <div ng-repeat="day in days" class="schedule-table col-lg-8 col-md-10 col-md-offset-1">
            <h4 class="schedule-table-heading">{{day.dateReadable}}</h4>

            <div class="timeslot track-header stick-header">
                <div class="track-header-label">Day {{day.$index}}</div>
                <div class="timeslot-elements flexbox-wrapper">
                    <div ng-repeat="track in day.tracks" class="track-header-slot col-md-{{12/day.tracks.length}} flexbox-item-height hidden-xs">
                        <h5 class="track-header-title">{{track.title}}</h5>
                    </div>
                    <div class="track-header-slot col-xs-12 visible-xs">
                        <h5 class="slot-detail track-header-title"></h5>
                    </div>
                </div>
            </div>

            <div ng-repeat="timeslot in day.timeslots" class="timeslot" itemtype="http://schema.org/subEvent">
                <div class="timeslot-label">
                    <time class="start-time" itemprop="startDate"
                          datetime="{{day.dateReadable}}T{{timeslot.startTime}}">
                        <span>{{timeslot.startTime}}</span>
                    </time>
                    <time class="end-time" itemprop="endDate" datetime="{{day.dateReadable}}T{{timeslot.endTime}}">
                        <span>{{timeslot.endTime}}</span>
                    </time>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Schedule Section -->
</section>
