<section class="row" data-ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center" translate="Sign up using your EPAM accounts"></h3>
	<div class="col-md-12 text-center">
		<a href="https://hrmstag.epam.com/workload/login.do" class="undecorated-link">
			<img src="/modules/users/img/buttons/epam.jpg">
		</a>
	</div>
	<h3 class="col-md-12 text-center" translate="Or with your email"></h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="firstName" translate="First Name"></label>
					<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="{{'First Name' | translate}}">
				</div>
				<div class="form-group">
					<label for="lastName" translate="Last Name"></label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="{{'Last Name' | translate}}">
				</div>
				<div class="form-group">
					<label for="email" translate="Email"></label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="{{'Email' | translate}}">
				</div>
				<div class="form-group">
					<label for="username" translate="Username"></label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="{{'Username' | translate}}">
				</div>
				<div class="form-group">
					<label for="password" translate="Password"></label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="{{'Password' | translate}}">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary"><span translate="Sign up"></span></button>&nbsp;<label translate="or"></label>&nbsp;
					<a href="/#!/signin" class="show-signup" translate="Sign In"></a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
