/*Font for site*/
body {
	font-family: 'Roboto', Arial, sans-serif;
}

.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}

/* Header style */
.header__language {
	height: 50px;
	background-color: transparent;
	border: none;
	color: white;
	box-shadow: none;
}

.header__language.ng-valid.ng-dirty {
	border: none;
}

.header__language option {
	color: black;
}
