.events__header {
	text-align: center;
	border-bottom: none;
	background-color: #2e7fab;
	margin: 0;
	margin-top: -20px;
	padding: 40px 0;
}

.events__header md-input-group input[type="text"] {
	display: inline-block;
	width: 500px;
}

@media only screen and (max-width: 768px) {
	.events__header md-input-group input[type="text"] {
		width: 200px;
	}
}

.events__header md-input-group.md-default-theme input {
	color: white;
	border-color: white;
}

.events__header md-input-group .ng-valid.ng-dirty {
	border-color: white;
}

.events__header md-input-group label {
	transform-origin: center;
}

.events__header md-input-group.md-default-theme label {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 4em;
	font-weight: 100;
	color: white;
}

@media only screen and (max-width: 768px) {
	.events__header md-input-group.md-default-theme label {
		font-size: 2em;
	}
}

.speakers-list__item {
	width: 50%;
	box-sizing: border-box;
	float: left;
	border: none;
}

.speakers-list__item__photo {
	float: left;
	margin: 10px;
	border-radius: 5px;
	overflow: hidden;
}

.speakers-list__item__info {
	font-weight: 700;
}

.speakers-list__item__bio {
	font-weight: 300;
}

