.page-header {
	border-bottom: none;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}

.event__background {
	margin-top: -40px;
	height: 250px;
	overflow: hidden;
	position: relative;
	padding: 0;
	display: block;
}

.event__filter{
	background-color: rgb(46,127,171);
	background-color: rgba(46,127,171,0.7);
	position: absolute;
	top: 0;
	height: 250px;
	display: block;
	width: 100%;
	padding: 0;
}

.container .event__background__image {
	padding: 0;
}

.event__background img {
	display: block;
	height: auto;
	z-index: -1000;
	width: 100%;
	padding-right: 15px;
}

@media only screen and (max-width: 850px) {
	.event__background {
		height: 200px;
	}
}


@media only screen and (max-width: 700px) {
	.event__background {
		height: 150px;
	}
}

@media only screen and (max-width: 450px) {
	.event__background img {
		display: none;
	}
	.event__background {
		height: 100px;
	}
}

.event__header {
	text-align: center;
	font-family: 'Roboto', Arial, sans-serif;
	color: white;
	position: absolute;
	top: 135px;
	font-weight: 100;
	font-size: 4em;
	left: 0;
	right: 0;
	margin: 0 auto;
}



@media only screen and (max-width: 1200px) {
	.event__header {
		font-size: 3em;
	}
}

@media only screen and (max-width: 768px) {
	.event__header {
		font-size: 2em;
		top: 75px;
	}
}

@media only screen and (max-width: 500px) {
	.event__header {
		font-size: 1.6em;
	}
}

.event__button {
	z-index: 1000;
}

.event__subheader {
	font-size: 2em;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.event__time {
	font-family: 'Roboto', Arial, sans-serif;
	text-align: center;
	font-weight: 300;
	font-size: 1.2em;
	padding-top: 10px;
	color: #317eac;
}

.event-participants {
	margin-top: 20px;
	text-align: center;
	font-size: 2em;
}

.event-participants .event__number {
	color: #317eac;
}