.events__header {
	text-align: center;
	border-bottom: none;
	background: url('/modules/core/img/header/slider-bg.jpg');
	margin: 0;
	margin-top: -20px;
	padding: 40px 0;
}

.events__header md-input-group input[type="text"] {
	display: inline-block;
	width: 500px;
}

@media only screen and (max-width: 768px) {
	.events__header md-input-group input[type="text"] {
		width: 200px;
	}
}

.events__header md-input-group.md-default-theme input {
	color: white;
	border-color: white;
}

.events__header md-input-group .ng-valid.ng-dirty {
	border-color: white;
}

.events__header md-input-group label {
	transform-origin: center;
}

.events__header md-input-group.md-default-theme label {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 4em;
	font-weight: 100;
	color: white;
}

@media only screen and (max-width: 768px) {
	.events__header md-input-group.md-default-theme label {
		font-size: 2em;
	}
}

.events-list__item {
	border-left: none;
	border-right: none;
}

.events-list__item:last-child {
	border-bottom: none;
}

a.list-group-item .event-list__item__header {
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 700;
	font-size: 2em;
	color: #317eac;
}

.event-list__item__text {
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 300px;
	color: black;
}

