<section data-ng-controller="EventsController">
    <div class="page-header">
        <h1>Add new event</h1>
    </div>
    <div class="col-md-12">
        <form name="eventForm" class="form-horizontal" role="form" data-ng-submit="create()" novalidate>
            <fieldset>

                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>

                <div class="form-group" ng-class="{ 'has-error': eventForm.title.$dirty && eventForm.title.$invalid }">
                    <label class="control-label col-sm-2" for="title">Title</label>

                    <div class="controls col-sm-10">
                        <input name="title" type="text" data-ng-model="title" id="title" class="form-control"
                               placeholder="Title of future event" required>
                    </div>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error': eventForm.description.$dirty && eventForm.description.$invalid }">
                    <label class="control-label col-sm-2" for="description">Short Description</label>

                    <div class="controls col-sm-10">
                        <textarea type="text" name="description" data-ng-model="description" id="description"
                                  class="form-control col-sm-12" cols="20" rows="5"
                                  placeholder="Add short description here" required></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="form-group col-sm-5 edit-event__box2">
                        <div class="controls edit-event__checkbox">
                            <input type="checkbox" id="external" data-ng-model="external"/>
                        </div>
                        <label class="control-label edit-event__checkbox__label" for="external">External event</label>
                    </div>
                    <div class="form-group col-sm-5 edit-event__box2">
                        <label class="control-label" for="backgroundImgUrl">Add Background Image</label>

                        <div class="controls">
                            <input type="file" id="backgroundImgUrl" ng-model='backgroundImgUrl' base-sixty-four-input>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="form-group col-sm-5 edit-event__date">
                        <label class="control-label">Start Date</label>

                        <div class="controls">
                            <input type="text" class="form-control edit-event__date__input"
                                   id="startDate"
                                   is-open="startOpened "
                                   ng-required="true"
                                   close-text="Close"
                                   max-date="maxDate"
                                   min-date="minDate"
                                   datepicker-options="dateOptions"
                                   ng-model="dtStart"
                                   datepicker-popup="{{format}}"/>
  						<span class="input-group-btn">
                  			<button type="button" class="btn btn-default" ng-click="openStartDate($event)"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                </span>
                        </div>
                        <div class="edit-event__time">
                            <label class="control-label">Start Time</label>

                            <div class="controls">
                                <timepicker ng-model="startTime"
                                            hour-step="hstep"
                                            minute-step="mstep"
                                            show-meridian="false"></timepicker>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-5 edit-event__date">
                        <label class="control-label" for="endDate">End Date</label>

                        <div class="controls">
                            <input type="text" class="form-control edit-event__date__input"
                                   id="endDate"
                                   is-open="endOpened "
                                   ng-required="true"
                                   close-text="Close"
                                   max-date="maxDate"
                                   min-date="minDate"
                                   datepicker-options="dateOptions"
                                   ng-model="dtEnd"
                                   datepicker-popup="{{format}}"/>
  						<span class="input-group-btn">
                  			<button type="button" class="btn btn-default" ng-click="openEndDate($event)"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
  						</span>

                        </div>

                        <div class="edit-event__time">
                            <label class="control-label">End Time</label>

                            <div class="controls">
                                <timepicker ng-model="endTime"
                                            hour-step="hstep"
                                            minute-step="mstep"
                                            show-meridian="false"></timepicker>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="numberOfPersons">Number of participants</label>

                    <div class="controls col-sm-5">
                        <input class="form-control" id="numberOfPersons" data-ng-model="numberOfPersons" type="number" value="0"/>
                    </div>
                </div>



                <div class="form-group">
                    <label class="control-label col-sm-2" for="content">Long description</label>

                    <div class="controls col-sm-10">
                        <textarea name="content" data-ng-model="content" id="content" class="form-control" cols="20"
                                  rows="10" placeholder="Tell more about your future event"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Location</label>

                    <div class="controls col-sm-5">
                        <select class="form-control"
                                ng-model="selectedLocation"
                                ng-change="locationUpdate()"
                                ng-options="location.name group by location.group for location in locations"></select>
                    </div>
                </div>

                <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                    <ui-gmap-marker coords="map.center" options="marker.options" idkey="marker.id"></ui-gmap-marker>
                </ui-gmap-google-map>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="tags">Tags</label>

                    <div class="controls col-sm-10">
                        <input class="form-control" type="text" name="tags" id="tags" data-ng-model="tags"
                               placeholder="Keywords of your event"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-default">
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</section>
