<section data-ng-controller="EventsController" data-ng-init="find()">
	<div class="events__header">
		<md-text-float label="{{ 'Find event for you' | translate}}" ng-model="search"></md-text-float>
	</div>
	<div class="list-group">
		<a data-ng-repeat="event in events" data-ng-href="#!/events/{{event._id}}" class="list-group-item events-list__item">
			<h4 class="list-group-item-heading event-list__item__header" data-ng-bind="event.title"></h4>
			<p class="list-group-item-text event-list__item__text" data-ng-bind="event.description"></p>
			<p class="list-group-item-text event-list__item__text" >
				<label >Start: {{event.startDate  }}</label><br/>
				<label >End: {{event.endDate }}</label>
			</p>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="events.$resolved && !events.length">
		No events yet, why don't you <a href="/#!/events/create">create one</a>?
	</div>
</section>
