<section data-ng-controller="EventsController" data-ng-init="findOne()">
	<div class="page-header">
		<div class="event__background">
			<img ng-if="!!event.backgroundImgUrl.base64" data-ng-src="data:image/jpg;base64,{{event.backgroundImgUrl.base64}}" />
		</div>
		<h1 data-ng-bind="event.title"></h1>
	</div>
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/events/{{event._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			<label translate="Posted on"></label>&nbsp
			<span data-ng-bind="event.created | date:'mediumDate'"></span>&nbsp
            <label translate="by"></label>
			<span data-ng-bind="event.user.displayName"></span>
		</em>
	</small>
    <p>
	<p class="lead" data-ng-bind="event.description"></p>

	<ui-gmap-google-map center='map.center' zoom='map.zoom'>
		<ui-gmap-marker coords="map.center" options="marker.options" idkey="marker.id"></ui-gmap-marker>
	</ui-gmap-google-map>
</section>
